<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Create</title>
    <th:block th:replace="/layout/css"/>
</head>
<body>
<div class="container">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-5">
                <h1>Create customers</h1>
            </div>
            <div class="col-sm-7">
                <a th:href="@{/customers}" class="btn btn-outline-light">
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                    <span>
                            <i class="fas fa-list"></i>
                            List of customers
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div>
        <div>
            <form method="post" th:object="${customers}">
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <label class="form-label"><strong>Full name</strong></label>
                        <input type="text" class="form-control" th:field="*{fullName}">

                    </div>
                    <div class="col-sm-6">
                        <label class="form-label"><strong>Email</strong></label>
                        <input type="text" class="form-control" th:field="*{email}">

                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <label class="form-label"><strong>Phone</strong></label>
                        <input type="text" class="form-control" th:field="*{phone}">

                    </div>
                    <div class="col-sm-6">
                        <label class="form-label"><strong>Address</strong></label>
                        <input type="text" class="form-control" th:field="*{address}">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-3">
                        <button type="submit" class="btn btn-outline-primary">
                            <i class="fas fa-plus"></i>
                            Create customer
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer th:class="${error != null ? (error ? 'footer-error' : 'footer-success') : '' }">
        <div class="container">
            <th:block th:if="${error == false}">
                <div>
                    <h5>Successful create customer</h5>
                </div>
            </th:block>

            <th:block th:if="${error == true}">
                <div>
                    <h5>Error messages:</h5>
                </div>
                <div>
                    <ul>
                        <li th:each="err : ${#fields.errors('customer.*')}" th:text="${err}"></li>
                    </ul>
                </div>
            </th:block>
        </div>
    </footer>
</div>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>