<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Deleted Customers</title>
    <th:block th:replace="/layout/css"/>
</head>
<body>

<div class="container">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-5">
                <h1>Delete customers</h1>
            </div>
            <div class="col-sm-7">
                <a th:href="@{/customers}" class="btn btn-outline-light">
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                    <span>
            <i class="fas fa-list"></i>
            List of customers
          </span>
                </a>
            </div>
        </div>
    </div>

    <div>
        <form method="post" th:object="${customer}">
            <div class="row mt-3">
                <div class="col-sm-6">
                    <label for="fullName" class="form-label"><strong>Full name</strong></label>
                    <input type="text" id="fullName" th:field="*{fullName}" class="form-control" readonly>
                    <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
                </div>
                <div class="col-sm-6">
                    <label for="email" class="form-label"><strong>Email</strong></label>
                    <input type="text" id="email" th:field="*{email}" class="form-control" readonly>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-6">
                    <label for="phone" class="form-label"><strong>Phone</strong></label>
                    <input type="text" id="phone" th:field="*{phone}" class="form-control" readonly>
                    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                </div>
                <div class="col-sm-6">
                    <label for="address" class="form-label"><strong>Address</strong></label>
                    <input type="text" id="address" th:field="*{address}" class="form-control" readonly>
                    <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3">
                    <th:block th:if="*{id != null && deleted == false}">
                        <button type="submit" class="btn btn-outline-secondary">
                            <i class="fas fa-plus"></i>
                            Delete customer
                        </button>
                    </th:block>
                </div>
            </div>
        </form>
    </div>
</div>
<footer th:class="${error != null ? (error ? 'footer-error' : 'footer-success') : '' }">
    <div class="container">
        <th:block th:if="${error == false}">
            <div>
                <h5>Successful delete customer</h5>
            </div>
        </th:block>

        <th:block th:if="${error == true}">
            <div>
                <h5>Error messages:</h5>
            </div>
            <div>
                <ul>
                    <li th:text="${message}"></li>
                </ul>
            </div>
        </th:block>
    </div>
</footer>
</body>
</html>